__include__: [
  '../dataset/coco_detection.yml',
  '../runtime.yml',
  './include/dataloader.yml',
  './include/optimizer.yml',
  './include/m2detr_r50vd_coco.yml',
]

output_dir: ./output/m2detr_r50vd_6x_coco
